:host{
    *{
        text-align: center;
    }
    .greentext{
        color: rgb(102, 37, 243);
    }
    .redtext{
        color: rgb(177, 101, 101);
    }
    .Feel{
        font-size: large;
        color: rgb(62, 26, 56);
        background-color: rgb(0, 0, 0);
        

    }
    .honeymoon{
        font-size: large;
        color: gray;;
        background-color: green;
    }
}